<h1 style="margin-left: 63px; margin-bottom: 20px; color: #b9baba;" >{{type}}</h1>
<button type="button" class="btn btn-primary" style="margin-left: 63px; margin-bottom: 20px;" (click)="addNew()">
	Add New
</button>
<div style="margin-left: 63px; margin-bottom: 20px;" *ngIf="addNewButton">
	<div *ngIf="route==='home'">
		<input type="text" [(ngModel)]="customType">
	</div>
	<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
		<h5 style="color:#b9baba;">{{type}} </h5>
		<div>
		  <label for="Question">
			Question
		  </label>
		  <textarea id="question"  class ="form-control" type="text" formControlName="question"></textarea>
		</div>
	  
		<div>
		  <label for="answer">
			Answer
		  </label>
		  <textarea id="answer" class ="form-control" type="text" formControlName="answer" height="100"></textarea>
		</div>
		<br>

		<button class="btn btn-success" type="submit">Save</button>
		&nbsp;&nbsp;
		<button class="btn btn-danger" (click)="closeForm()">Close</button>

	  
	  </form>

</div>
