
<app-add-new [type]="type" (change)="cchange($event)"></app-add-new>

<!-- <div>
    <div class="container">
      
        <!-- Date Selection -->
        <!-- <input type="date" [(ngModel)]="selectedDate" (change)="updateCountdown()" /> -->
      
        <!-- Days Countdown Card -->
        <!-- <div class="countdown-card">
          <div class="days-number">{{ daysLeft }}</div>
          <div class="days-label">Days Left</div>
        </div> -->
      <!-- </div>
</div> --> 
<app-accordion [ibank]="bank" (change)="cchange($event)"></app-accordion>

