.bank{
    border: 0ch;
}



.container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: #fafafa;
    margin-bottom: 20px;
  }
  
  input[type="date"] {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .countdown-card {
    display: inline-block;
    text-align: center;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    line-height: 60px;
    background-color: #f0f8f5;
  }
  
  .days-number {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    height: 40px;
  }
  
  .days-label {
    font-size: 14px;
    color: #fafafa;
  }