
<div>
    <div class="container">
      
        <!-- Date Selection -->
        <!-- <input type="date" [(ngModel)]="selectedDate" (change)="updateCountdown()" /> -->
      
        <!-- Days Countdown Card -->
        <div class="countdown-card">
          <div class="days-number">{{ daysLeft }}</div>
          <div class="days-label">Days Left</div>
        </div>
      </div>
</div>
<div class="pageTop">
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
	<bi name="app" style="color: green; width:40px;"></bi>&nbsp;&nbsp;
	<li *ngFor="let route of routes; let i index" [ngbNavItem]="i">
		<a ngbNavLink [routerLink] ="[route.label]"><b>{{route.path}}</b></a>
	</li>
</ul>
<br> 
<br>





<router-outlet></router-outlet>


