<nav class="navbar navbar-expand-lg navbar-light bg-none" style="padding: 0;">
  <div class="container-fluid justify-content-center">
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs justify-content-center w-100" style="gap: 1rem;">
      <li [ngbNavItem]="0" class="nav-item">
        <a ngbNavLink routerLink="/expense" class="nav-link"><b>Expense</b></a>
      </li>
      <li [ngbNavItem]="1" class="nav-item">
        <a ngbNavLink routerLink="/goals" class="nav-link"><b>Goals</b></a>
      </li>
      <li [ngbNavItem]="2" class="nav-item">
        <a ngbNavLink routerLink="/statistics" class="nav-link" title="Statistics">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
            <path d="M7.5 1.018A7 7 0 1 0 15 8a.5.5 0 0 0-.5-.5H8V1.518a.5.5 0 0 0-.5-.5zM8 2.5v5h5A6 6 0 1 1 8 2.5z"/>
            <path d="M8.5 1.018V8h6.482A7 7 0 0 0 8.5 1.018z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


