.bank{
    max-width: 90%;
    margin: auto;
    white-space: pre-wrap;
}
.accordion{
    --bs-accordion-bg: #22252B;
    --bs-accordion-btn-color:#b9baba;
    --bs-accordion-color:#b9baba;
    --bs-accordion-active-color:#b9baba;
    --bs-accordion-border-color: white;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-active-bg:#22252B;

}

.update-container{
    max-width: 50%;
}

.nav-tabs .nav {
    --bs-nav-link-padding-left: 100px;
    --bs-link-color: #b9baba;
    --bs-link-hover-color: #22252B;
}



label{
    color: white;
}

#answer{
    height:150px;
    width: 1200px;
    background-color: #b9baba;

}
#question{
    height: 50px;
    width:1200px;
    background-color: #b9baba;
}
form{
    padding: 20px;
}
#type {
 width:150px;
 background-color: #b9baba;
}


