<div class="intro">
    <h1 style="color: #b9baba">Welcome to Learning App</h1>
    <h2>INTRO</h2>
    <p>
        Hi, My full name is Umar Shaik from Andhra. Completed my Btech in the year of 2019.
        I have a total of 4.5 years of experience in IT. Currently working in Accenture from Bangalore as an 
        Application development senior analyst. The Project that I am working on is of Insurance Domain which is Optum.
        Its an US based Health Insurance Organization. I am working on one of the application that provides its clients a 
        platform to access it staffs information, access and their roles to manage their products.
        Our team is of four members in our team. We have used Angular version 13 for the Front end and 
        Java8 Spring boot for the middle ware. As an Angular Developer my responsibilities are
        to develop new requirements as per the project needs and resolve any defects that were
        raised in the phase of testing. we use tools like splunk for logs, jenkins for deployment
        and Sonar cube for code quality.
    </p>
    <h2>RoadMap</h2>
    <p>
        Angular <br>
        JS <br>
        HTML & CSS (websites) <br>
        DSA (1-30days JS , 75 BLind) <br>
        Java SpringBoot <br>
        AI, Rust, Freelancing<br>
        Personal (Resume & job search)

    </p>
</div>

