<div class="intro">
    <h1 style="color: #b9baba">Welcome to Learning App</h1>
    <h2>INTRO</h2>
    <p>
        Hi, My name is Umar Shaik from Andhra. Completed my Btech in the year of 2019.
        I have a total of 4.5 years of experience in IT. Currently working in Accenture as an 
        Application development senior analyst. The Project that I am working on is of Insurance Domain which is Optum.
        Its an US based Health Insurance Organization. I am working on one of the application that provides Agents or users to
        Insure their Auto. Agent can provide Insured and vehicle details and can select their plans.
        We were four members in our team. We have used Angular version 13 for the Front end and 
        Java8 Spring boot for the middle ware. As an Angular Developer my responsibilities are
        to develop new requirements as per the project needs and resolve any defects that were
        raised in the phase of testing. we use tools like splunk for logs, jenkins for deployment
        and Sonar cube for code quality.
    </p>
</div>

